.menu-demo {
    height: calc(100% - 26px);
    /*height: 900px;*/
    /*box-sizing: border-box;*/
    /*width: 100%;*/
    /*padding: 40px;*/
    /*background-color: var(--color-neutral-2);*/
}

/*.menu-demo .arco-menu-inner {*/
/*    overflow-y: auto;*/
/*}*/
.layout-basic-demo .arco-layout-header,
.layout-basic-demo .arco-layout-footer,
.layout-basic-demo .arco-layout-sider,
.layout-basic-demo .arco-layout-sider-children,
.layout-basic-demo .arco-layout-content {
    color: var(--color-white);
    text-align: center;
    font-stretch: condensed;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*.arco-layout-content {*/
/*    height: 100%;*/
/*}*/
.layout-basic-demo .arco-layout-header,
.layout-basic-demo .arco-layout-footer {
    height: 64px;
    background-color: var(--color-primary-light-4);
}

.layout-basic-demo .arco-layout-sider {
    width: 206px;
    background-color: var(--color-primary-light-3);
}

.layout-basic-demo .arco-layout-content {
    /*height: calc(100% - 268px);*/
    height: 900px;
    background-color: var(--color-neutral-2);
    /*background-color: rgb(var(--arcoblue-6));*/
}

body{
    height: 100%;
}
